<div class="form-group">
  <div class="input-group input-group-lg">
    {{input type="text" value=url class="form-control" placeholder="enter url"}}
    <span class="input-group-btn">
      <button class="btn btn-success" {{action "generate"}}>
        <i class="glyphicon glyphicon-link"></i>
        generate
      </button>
    </span>
  </div>
 </div>
