<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
			{{#link-to "index" class="navbar-brand"}}
				<i class="glyphicon glyphicon-home"></i>
			{{/link-to}}

			<p class="navbar-text" href="javascript:void(0)">
			{{#if loginController.isLoggedIn}}
				logged in as
				<b>
					{{#link-to "user" loginController.user}}
						{{loginController.user.name}}
					{{/link-to}}
				</b>
			{{/if}}
			</p>
		</div>

		<form class="navbar-form navbar-right">
			<div class="form-group">
				{{#if loginController.isLoggedIn}}
					<button class="btn btn-default" {{action "logout"}}>
						<i class="glyphicon glyphicon-log-out"></i>
						&nbsp;logout
					</button>
				{{else}}
					{{#link-to "login" class="btn btn-default"}}
						<i class="glyphicon glyphicon-log-in"></i>
						&nbsp;login
					{{/link-to}}
				{{/if}}
			</div>
		</form>

	</div>
</nav>
